
/* random color generator */
.container {
    text-align: center;
}
.container h1 {
    margin-bottom: 2rem;
}
.container button {
    cursor:pointer;
}

.container p {
    height: 100px;
    border: 2px solid black;
}