.personal-info {
    background: lightgray;
    height: 10rem;
    width: 13rem;
    padding-top: 1rem;
}

.creation>p {
    background-color: lightgoldenrodyellow;
}

.creation-img {
    display: flex;


}

.creation-img>img {
    height: 20rem;
    margin: 1rem 0 2rem 1rem;
}

.green{
    background: lightgreen;
}