.box {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin: 10px;
    height:490px;
    width:300px;
}

/* Style for the option "Always Open" on the left bottom */
.box-option {
    float: left;
    font-weight: bold;
}

/* Style for the currency conversion on the right bottom */
.box-currency {
    float: right;
    font-weight: bold;
}
.Hh3{
    background-color: #fece87;
    color:black;
    height:70px;
    width:800px;
    margin-left:410px;
    text-align: center;
    padding:20px;
    border-radius: 20px  black;
    box-shadow: 5px 5px 20px black;
}
.Hh3:hover{
    background-color: hsl(36, 67%, 84%);
}