<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" name="username" placeholder="Username"> <br> <br>
    <textarea name="content" cols="30" rows="10" placeholder="Content"></textarea><br>
    <button>Add</button>
    </form>
    
</body>
</html>