<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Post</title>
    <!-- <link rel="stylesheet" href="./style.css"> -->
</head>
<body>
    <h1>Here is your post in detail</h1>
    <div class="post">
        <h3 class="username">@<%=post.username%></h3>
        <h4><%=post.content%></h4>
    </div>
    <a href=""></a>
</body>
</html>