* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    background: linear-gradient(100deg, #1e05ae, #443e6b);
}

.container {
    border-radius: 20px;
    margin-top: 5rem;
    /* background-color: peachpuff; */
    background-color: #fff;
    height: auto;
    width: 35rem;
    padding: 2rem 4rem 2rem 3rem;
}

.heading {
    display: flex;
    align-items: center;
}

.heading h2 {
    font-size: 40px;
}

.heading img {
    height: 50px;
    margin-left: 0.5rem;
}

.add-task {
    display: flex;
    margin-top: 1rem;
}

.add-task input {
    display: flex;
    flex: 1;
    padding: 0.8rem 1rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: rgb(240, 240, 240);
    color: gray;
    font-size: 16px;
    border: none;
    outline: none;
}

.add-task button {
    padding: 0rem 2.5rem;
    border-radius: 30px;
    margin-left: -50px;
    background: #ff5945;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;

}

.tasks {
    margin: 20px 10px 10px 10px;
}

.tasks .tsk {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
}

.tasks .tsk .tsk-name {
    flex: 1;
    margin-left: 20px;
}

.uncheck-img{
    height: 20px;
}
.check{
    text-decoration: line-through;
}

.tasks .cros {
    opacity: 0.4;
    margin-left: 5px;
    height: 32px;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}
.tasks .cros:hover{
    background: #edeef0;
}