* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main_box {
    height: 100vh;
    background-image: url(./photo.jpg);
    background-size: cover;
}
.btn_one {
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
}
.sidebar_menu {
    position: fixed;
    /* left: -350px; */
    width: 300px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px white;
}
.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    
    
}
.sidebar_menu .btn_two {
    font-size: 30px;
    color: gray;
    position: absolute;
    left: 250px;
    line-height: 65px;
    /* opacity: 0; */
}
.sidebar_menu .logo a {
    position: absolute;
    font-size: 30px;
    font-weight: 500px;
    color: white;
    text-decoration: none;
    left: 60px;
}

.sidebar_menu .menu {
    color: white;
    position: absolute;
    top: 80px;
}

.sidebar_menu .menu li {
    margin: 6px;
    padding: 16px 20px;
    list-style: none;
}
.sidebar_menu .menu i,a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i {
    padding: 8px;
}

.sidebar_menu .social_media { 
    position: absolute;
    left: 25%;
    bottom: 50px;
}
.sidebar_menu .social_media i {
    padding: 0px 5px;
    opacity: 0.5;
    color: white;
}

#check {
    display: none;
}

.logo:hover {
    box-shadow: 0px 1px 3px lightgray;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0px 1px 3px lightgray;
}

.social_media i:hover {
    font-size: 30px;
    color: white;
    opacity: 1;
}