:root {
    --primary: #C75EA3;
    --primary-light: #ffdef3;
    --secondary: #f1ca00;
    /* --lightpink:  */
    --dark: #161616;
    --pure: #ffffff;
    --green: #dff0d8;
    --light: #fff8f0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--primary);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: whitesmoke;
    overflow-x: hidden;
}

h3 {
    font-size: 30px;
    font-family: poppens, sans-serif;
    color: #555;
}

h2 {
    font-family: "DM Serif Display", serif;
    font-size: 45px;
}
/* 
.yellow-bg {
    height: 90vh;
    background-color: var(--primary-light);
 
    background-image: url("../img/bg-girl-img.png"); 
    background-size:auto; 
    background-position:left; 
    background-repeat: no-repeat; 
} */
.yellow-bg {
    position: relative;
    height: 90vh;
    /* background-color: var(--primary-light); */
    overflow: hidden; /* Ensure the ::after element doesn't overflow */
}

.yellow-bg::after {
    content: "";
    position: absolute;
    top: 0;
    /* left: 9rem; */
    /* right: 24r   em; */
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-temp.png"); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: right; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    opacity: 0.7; /* Adjust the opacity value as needed */
    z-index: 0; /* Ensure it's behind the content */
}

.yellow-bg .content {
    position: relative;
    z-index: 1; /* Ensure content is above the background image */
    /* Add any other styling for your content here */
}

.yellow-bg .nav-section .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 5rem 0 5rem;
    align-items: flex-start;
}

.nav-section .nav-bar .nav-list {
    margin-top: 1rem;
    z-index: 100;
}

.nav-section .nav-bar ul {
    display: flex;
}

.nav-section .nav-bar ul li {
    list-style: none;
    margin: 0 1rem;
}

.nav-logo {
    background-color: white;
    padding: 0 0.5rem;
    border-radius: 8px;
    box-shadow: 0px 0px 4px var(--primary);
    z-index: 100;
}

.nav-logo img {
    height: 5rem;
}

/* hero page */
section.hero-section {
    margin: 3rem;
    z-index: 100;
}

section.hero-section .hero {
    display: flex;
    /* z-index: 100; */
}

section.hero-section .hero .hero-left {
    width: 50%;
    z-index: 100;
}

section.hero-section .hero .hero-left h1 {
    font-family: "DM Serif Display", serif;
    font-size: 50px;
}

section.hero-section .hero .hero-left p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    margin-top: 1rem;
    width: 90%;
}

section.hero-section .hero .hero-left ul {
    position: relative;
    margin-top: 2rem;
    z-index: 100;
}

section.hero-section .hero .hero-left ul li {
    list-style: none;
    margin-left: 2rem;
    margin-top: 1rem;
}

section.hero-section .hero .hero-left ul li::before {
    content: '';
    background-image: url('../img/checked.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    /* margin-left: -1.5rem; */
}


/* form code */
.hero-right {
    margin: -2rem;
    width: 50%;
    max-width: 100%;
    height: auto;
    /* height: 100vh; */
    display: flex;
    /* align-items: top; */
    justify-content: right;
    /* max-width: 470px; */
    /* background: #f0faff; */
    z-index: 100;
}

.wrapper {
    position: relative;
    max-width: 470px;
    width: 100%;
    border-radius: 12px;
    padding: 20px 30px 120px;
    background: white;
    box-shadow: 2px 2px 7px #797474df;
    border-style: solid;
    border-color: #cc4faa;
    /* overflow: hidden; */
    height: 500px;
}

.form.login {
    position: absolute;
    left: 50%;
    bottom: -86%;
    transform: translateX(-50%);
    width: calc(100% + 220px);
    padding: 18px 138px;
    border-radius: 50%;
    height: 100px;
    background: #fff;
    transition: all 0.6s ease;
    box-shadow: 10px 5px 10px rgba(0,
            0,
            0,
            0.1);
}

.wrapper.active .form.login {
    bottom: -15%;
    border-radius: 35%;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.form header {
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.form.login header {
    color: #333;
    opacity: 0.6;
}

.wrapper.active .form.login header {
    opacity: 1;
}

.wrapper.active .signup header {
    opacity: 0.6;
}

.wrapper form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 38px;
}

form input {
    height: 40px;
    outline: none;
    border: none;
    padding: 0 13px;
    font-size: 12px;
    font-weight: 400;
    color: #333;
    border-radius: 8px;
    background: #fff;
    border-style: solid;
    border-color: rgb(216, 210, 215);
    margin-top: -10px;
}

.course,
.country {
    height: 40px;
    outline: none;
    border: none;
    padding: 0 15px;
    font-size: 12px;
    font-weight: 400;
    color: #333;
    border-radius: 8px;
    background: #fff;
    border-style: solid;
    border-color: rgb(216, 210, 215);
    margin-top: -10px;

}

.submit {
    background-color: var(--primary);
    color: white;
    box-shadow: 0px 0px 15px var(--primary);
    border: none;
}


form a {
    color: #333;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}

form input[type="submit"] {
    margin-top: 15px;
    padding: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

/* Scrolling text */
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 3.7rem 0;
    margin-top: 2.5rem;
    background: whitesmoke;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 15.625rem;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), whitesmoke);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), whitesmoke);
}

.logos-slide {
    display: flex;
    animation: slide 35s linear infinite;
}

.logos-slide div {
    height: 3.125rem;
    display: inline-block;
    font-size: large;
    color: gray;
    /* color: black; */
    font-size: 1.5rem;
    margin: 0 2.5rem;
}

/* what will you learn */
.what-learn-section {
    margin-left: 3rem;
    display: flex;
}

.content {
    /* background-color: hwb(0 98% 2%); */
    /* border: 2px; */
    /* border-radius: 8px; */
    padding: 20px;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); */
    /* width: 80%; */
    max-width: 600px;
}

.content h2 {
    font-family: "DM Serif Display", serif;
    font-size: 45px;
    /* text-align: center; */
    color: var(--primary);
}

.content h3 {
    font-size: 25px;
    color: #555;
    margin-top: 10px;
}

.checklist {
    list-style-type: none;
    padding: 0;
}

.checklist li {
    position: relative;
    margin: 10px 0;
    font-size: 18px;
    color: hsl(0, 2%, 50%);
    padding-left: 25px;
}

.checklist li::before {
    content: '✔';
    color: var(--primary);
    position: absolute;
    left: 0;
    top: 0;
}

.what-learn-section .content-img img {
    height: 450px;
    /* max-width: 100%;  
    scale: 1.1;
    height: auto;
    display: block;  */

    /* align-self: baseline; */
}

/* courses */
.courses-section {
    margin: 5rem 3rem;
    /* margin-bottom: 20rem; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* margin: 0;  */
}

.card-container {
    display: flex;
    gap: 8rem;
}

.card {
    background-color: #fff;
    border: 1px solid var(--primary);
    border-radius: 15px;
    box-shadow: 0 0 15px var(--primary);
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-top {
    display: flex;
    align-items: center;
}

.card-logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.card-content {
    flex: 1;
}

.card-content h2 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.price {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--primary);
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease;
    color: white;
}

.price:hover {
    background-color: #ba3396;
    color: #fff;
}

/* course details */

.detail-section {
    margin: 0 3rem;
}

.detail-section .course-details {
    padding: 20px
}

.detail-section .detail-headline {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.detail-section .detail-headline h2 {
    font-family: "DM Serif Display", serif;
    font-size: 45px;
    /* text-align: center; */
    color: var(--primary);
}

.detail-section .course-details .detail-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -3rem;
}

.detail-section .course-details .detail-project .detail-project-left {
    width: 45%;
    margin-top: -2rem;
    /* line-height: 35px; */
}

.detail-project-left h3 {
    font-size: 30px;
    font-family: poppens, sans-serif;
    /* margin-bottom: 0.5rem; */
    color: #555;
}

.detail-project-left p {
    color: #555;
    font-size: 18px;
}

.detail-project-left ul li {
    position: relative;
    margin: 10px 0;
    font-size: 18px;
    color: hsl(0, 2%, 50%);
    padding-left: 25px;
    list-style-type: none;
}

.detail-project-left li::before {
    content: '✔';
    color: var(--primary);
    position: absolute;
    left: 0;
    top: 0;
}

.detail-project-right img {
    height: 600px;
}

/* module details */
.course-modules .module-left {
    position: relative;
    top: -2rem;
}

.course-modules .module-left img {
    height: 600px;

}

.course-modules .module-left {
    margin-left: -3rem;
}

.course-modules .module-right {
    line-height: 2rem;
    /* margin: 0 1rem 0 0; */
    width: 40%;
}

.course-modules .module-right h3 {
    margin-bottom: 1rem;
}

.course-modules .module-right ul {
    margin-left: 2rem;
}

.course-modules .module-right ul li {
    font-size: 20px;
    color: hsl(0, 2%, 50%);
}

.course-modules .module-right ul li::marker {
    color: var(--primary);
}

.course-details .growth-path {
    position: relative;
    top: -5rem;
}

.course-details .growth-path .growth-left {
    width: 50%;
    /* margin: 7rem; */
}

.course-details .growth-path .growth-left h3 {
    margin-bottom: 1rem;
}

.course-details .growth-path .growth-left ul {
    /* margin-left: 15px; */
}

.course-details .growth-path .growth-left ul li {
    position: relative;
    margin: 10px 0;
    font-size: 18px;
    color: hsl(0, 2%, 50%);
    padding-left: 25px;
    list-style: none;
}

.course-details .growth-path .growth-left ul li::before {
    content: '✔';
    color: var(--primary);
    position: absolute;
    left: 0;
    top: 0;
}

.course-details .growth-path .growth-right img {
    height: 700px;
}

.course-outcome {
    position: relative;
    top: -2rem;
    /* max-width: auto; */
}

.course-outcome .outcome-left img {
    height: 700px;
    /* align-self: flex-start; */
    position: relative;
    top: -9rem;
}

.course-outcome .outcome-right {
    align-self: flex-start;
    width: 40%;
}

.course-outcome .outcome-right h3 {
    margin-bottom: 1rem;
}

.course-outcome .outcome-right ul {
    margin-left: 2rem;
}

.course-outcome .outcome-right ul li {
    font-size: 20px;
    color: hsl(0, 2%, 50%);
}

.course-outcome .outcome-right ul li::marker {
    color: var(--primary);
}

/* transition code */

.bottom-section {
    top: -12rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transition-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transition-col h2 {
    /* color: var(--primary); */
}

.transition-col ul {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.transition-col li {
    position: relative;
    margin: 10px 3rem;
    font-size: 18px;
    color: hsl(0, 2%, 50%);
    padding-left: 25px;
    list-style-type: none;
}

.transition-col li::before {
    content: '✔';
    color: var(--primary);
    position: absolute;
    left: 0;
    top: 0;
}

.note {
    text-align: center;
    /* margin: 4rem 8rem 0 8rem; */
    margin-top: 4rem;
    padding: 0 2rem;
    /* max-width: auto; */
    border: 1px solid var(--primary);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--primary);
}

.note p {
    font-size: 20px;
}

.note p span {
    font-size: 25px;
    color: var(--primary);
    margin-right: 0.2rem;
    font-weight: 500;
}

.enroll {
    text-align: center;
    margin-top: 1.5rem;
    width: 50%;
}

.enroll p {
    font-size: 20px;
}

.enroll p span {
    color: var(--primary);
    font-weight: 600;
    font-size: 21px;
}

.enroll .btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--primary);
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease;
    color: white;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 10px var(--primary);
}

.enroll .btn:hover {
    background-color: #ba3396;
    color: #fff;
    cursor: pointer;
}

/* footer code */
.footer-section {
    position: relative;
    bottom: 0;
    margin-top: -6rem;
    height: 250px;
    width: 100%;
    /* color: var(--primary); */
    background-color: var(--primary);
}

.ft-left-right {
    position: absolute;
    display: flex;
    margin: 2rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.ft-left-right .ft-left {
    background-color: white;
    padding: 0 0.5rem;
    border-radius: 8px;
    /* box-shadow: 0px 0px 10px var(--primary-); */
}

.ft-left-right .ft-left img {
    height: 5rem;
}

.ft-left-right .ft-right p {
    font-weight: 400;
    /* color: white; */
}

.ft-left-right .ft-right p span {
    color: black;
    font-size: 25px;
}

.ft-reserved {
    position: absolute;
    bottom: 1rem;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
    width: 100%;
}


/* media quary */
@media (max-width: 1227px) {
    .what-learn-section .content-img img {
        height: 350px;
        margin-top: 5rem;
    }

    .yellow-bg {
        height: 100vh;
    }
}

@media (max-width: 1100px) {
    .yellow-bg {
        height: 100vh;
    }

    .nav-section .nav-list {
        display: none;
    }

    section.hero-section .hero {}

    .hero-right {
        position: relative;
        top: -7rem;
        margin: 0;
    }

    .course-details .growth-path .growth-right img {
        height: 600px;
    }

    .course-outcome .outcome-left img {
        height: 600px;
    }
}

@media (max-width: 1024px) {
    section.hero-section .hero .hero-left h1 {
        font-size: 40px;
    }

    .hero-right {
        top: -8rem;
    }

    .content h2 {
        font-size: 38px;
    }

    /* .detail-section .detail-headline h2{
        font-size: 10px;
    } */
    .what-learn-section .content-img img {
        height: 300px;
    }

    .courses-section {
        margin-right: 1rem;
        margin-left: 1rem;

    }

    .detail-section .detail-headline h2 {
        /* font-size: 10px; */
        margin-bottom: 3rem;
    }

    .detail-project-right img {
        height: 500px;
    }

    .course-modules .module-left img {
        height: 500px;
    }

    .course-details .growth-path .growth-left h3 {
        font-size: 30px;
    }

    .growth-right img {
        height: 600px;
    }

    .course-outcome .outcome-left img {
        margin-top: 4rem;
        height: 400px;
    }

    .course-outcome {
        margin-bottom: 2rem;
    }
}

@media (max-width: 991px) {
    .enroll {
        width: 70%;
    }

    .detail-project-right {
        /* margin-top: 3rem; */
    }

    .course-modules .module-left {
        /* margin-top: 4rem; */
    }

    .course-modules .module-left img {
        /* margin-top: 2rem; */
    }

    .course-outcome {
        margin-top: -12rem;
    }

    .detail-section .course-details .detail-block {
        margin-top: 1rem;
    }

    .course-details .growth-path .growth-right img {
        height: 400px;
    }

    .transition-col h2 {
        font-size: 40px;
        margin-top: 2rem;
    }
}

@media (max-width: 850px) {
    .hero {
        flex-direction: column;
        align-items: center;
    }

    section.hero-section .hero .hero-left {
        width: 90%;
    }

    .hero-right {
        width: 100%;
        justify-content: center;
        margin-top: 10rem;
    }

    .mn {
        margin-top: 27rem;
    }

    .what-learn-section {
        flex-direction: column-reverse;
        width: 80%;
        align-items: center;
    }

    .what-learn-section .content-img img {
        height: 350px;
    }

    .card-container {
        flex-direction: column;
    }

    .detail-project {
        top: -7rem;
        position: relative;
    }

    .detail-project,
    .growth-path {
        flex-direction: column-reverse;
    }

    .detail-section .course-details .detail-project .detail-project-left {
        width: 80%;
    }

    .course-modules,
    .course-outcome {
        flex-direction: column;
    }

    .course-modules {
        position: relative;
        top: -5rem;

    }

    .course-modules .module-right {
        width: 80%;
    }

    .detail-section .course-details .detail-block {
        align-items: center;
        justify-content: center;
    }

    .course-details .growth-path .growth-left {
        width: 80%;
    }

    .course-details .growth-path .growth-right img {
        height: 550px;
    }

    .course-outcome .outcome-right {
        width: 80%;
        align-self: center;
        position: relative;
        top: -9rem;
    }

    .course-outcome .outcome-left img {
        height: 550px;
    }

    .ft-left-right .ft-left {
        /* width: 80%; */
    }

    .card-container {
        gap: 5rem;
    }
}

@media (max-width: 550px) {
    .logos {
        margin-top: 33rem;
    }

    .what-learn-section {
        width: 90%;
    }

    .logos-slide {
        animation: slide 30s linear infinite;
    }

    .detail-section .course-details .detail-project .detail-project-left {
        width: 90%;
    }

    .course-modules .module-right {
        width: 90%;
    }

    .course-details .growth-path .growth-left {
        width: 90%;
    }

    .course-outcome .outcome-right {
        width: 90%;
    }

    .what-learn-section .content-img img {
        height: 250px;
    }

    .course-details .growth-path .growth-right img {
        height: 450px;
    }

    .course-outcome .outcome-left img {
        height: 450px;
    }

    .transition-col h2 {
        font-size: 35px;
    }

    .transition-col ul {
        flex-direction: column;
        /* align-items: center; */
    }

    .enroll {
        width: 80%;
    }

    .footer-section {
        height: 400px;
    }

    .ft-left-right {
        flex-direction: column;
        align-items: flex-start;
        /* justify-content: flex-start; */
        margin-top: 2rem;
        /* margin-bottom: 5rem; */
    }

    .ft-left-right .ft-left {
        margin-right: 4rem;
        align-self: center;
        margin-bottom: 0.7rem;
    }

    .ft-reserved {
        bottom: 0;
        /* margin-top: 50rem; */
    }

    .detail-section .detail-headline h2 {
        font-size: 40px;
    }



}

@media (max-width: 450px) {
    .yellow-bg {
        height: auto;
    }

    .logos-slide {
        animation: slide 15s linear infinite;
    }

    .yellow-bg .nav-section .nav-bar {
        padding: 0;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
    }

    .logos {
        margin-top: 0rem;
    }

    .mn {
        margin-top: 0;
    }

    section.hero-section .hero .hero-left {
        width: 100%;

    }

    section.hero-section .hero .hero-left h1 {
        font-size: 35px;
        margin: 0 -1rem 0.5rem -1rem;

    }

    section.hero-section .hero .hero-left p {
        margin: 0 -1rem;
    }

    section.hero-section .hero .hero-left ul {
        position: relative;
        left: -1rem;
        margin-top: 0.5rem;
    }

    .wrapper {
        width: 120%;
    }

    .ft-left-right .ft-right p {
        width: 80%;
    }

    .what-learn-section {
        margin-left: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .course-details .detail-headline h2 {
        /* font-size: 35px; */
        /* text-align: center; */
        margin-left: -3rem;
        margin-right: -2rem;
    }

    .detail-section .detail-headline {
        width: 100%;
        margin-bottom: 0;

    }

    .what-learn-section {
        width: 100%;
    }

    .detail-section .course-details .detail-project .detail-project-left {
        width: 100%;

    }

    .detail-section .course-details .detail-project .detail-project-left h3 {
        margin: 0 -50px 0rem -49px;
        width: auto;
    }

    .detail-project-left ul li {
        margin: 10px -49px;
    }

    .detail-section .course-details .detail-project .detail-project-left p {
        margin: 0 -3rem;
    }

    .course-modules .module-right {
        /* width: 100%; */
        width: auto;
        margin: 0 -3rem;

    }

    .course-details .growth-path .growth-left {
        /* width: 100%; */
        width: auto;
        margin: 0 -3rem;
    }

    .course-outcome .outcome-right {
        /* width: 100%; */
        width: auto;
        margin: 0 -3rem;
    }

    .checklist li {
        font-size: 13px;
    }

    .transition-col h2 {
        /* color: var(--primary); */
        /* margin-left: 1rem; */
        text-align: center;

    }

    p {
        font-size: 15px;
    }

    li {
        font-size: 15px;
    }

    .card-container {
        gap: 4rem;
    }

}