<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home file</title>
</head>
<body>
    <h1>3*2</h1>
    <h3> <%= 3*2 %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt alias tempore iste autem veniam placeat expedita voluptatem beatae voluptatibus facere amet dolore enim, assumenda impedit, modi accusantium blanditiis et sint.</p>
    <button>Click me</button>
</body>
</html>