* {
    margin: 0;
    padding: 0;
}

section.contact-section {
    margin-top: 3rem;
    background-color: whitesmoke;
    /* height: 80vh; */
}

.contact-heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-image: url(../img/download\ \(1\).jpeg); */
    background-color: black;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 5rem 3rem 6rem 3rem;
    /* margin: 2rem 0; */
}

.contact-heading h2,
p {
    width: 40rem;
}

.contact-heading h2 {
    margin-bottom: 14px;
}

.contact-section .contact-details {
    display: flex;
    margin: -60px 5rem 5rem 5rem;
    background-color: whitesmoke;
}

.contact-details .phn-mail-box {
    /* width: 20rem; */
    /* margin-right: 3rem; */
}

.contact-details .box {
    display: flex;
    align-items: center;
    margin: 1.3rem;
    padding: 1.3rem;
}

.contact-details .phn-mail-box .phn-box {
    background-color: white;
}

.contact-details .phn-mail-box .phn-box .phn-detail>* {
    width: 15rem;
}

.contact-details .phn-mail-box .phn-img {
    margin: 0 1rem 2rem 0;
}

.contact-details .phn-mail-box .mail-img {
    margin: 1rem 1rem 2rem 0;
}

.contact-details .phn-mail-box .mail-box {
    background-color: white;
}

.contact-details .phn-mail-box .mail-detail {
    margin-left: 0.4rem;
}

.contact-details .phn-mail-box .mail-detail {
    text-align: center;
}

.contact-details .phn-mail-box .mail-detail .btn {
    width: 9rem;
}

.contact-form {
    background-color: white;
    margin-top: 1.3rem;
    padding: 1rem 2rem 2rem 1rem;
    text-align: center;

}

.contact-form .detail-form .form-msg {
    text-align: center;
    margin: 1rem;
}
.contact-form .detail-form .form-msg h2 {
    margin: 1rem 0 2rem 0;
}

.contact-form .detail-form .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.contact-form .detail-form .contact-form .inp-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form .detail-form .contact-form .inp-detail input {
    width: 15rem;
}

.contact-form .detail-form .contact-form .course-select {

}
