
.blog-container .heading-row {
    display: flex;
    justify-content: center;
}
.blog-container .blog-heading{
    text-align: center;
    margin: 3rem 0 0 0;
    /* width: 30rem; */
    width: 30rem;
}

.blog-container .blog-heading h2 {
    margin: 0 0 1rem 0;
}
.blog-container p {
    color: gray;
    opacity: 0.8;
}
.blog-container .cards{
    display: flex;
    justify-content: space-around;
}
.blog-container .cards .card {
    width: 20rem;
    margin-top: 0.8rem;
    padding: 0;
}

.card .blog-data {
    margin: 30px 15px;
}

.card .blog-data h5 {
    line-height: 30px;
}

.card .blog-data .blog-tags {
    display: flex;
}

.card .blog-data .blog-tags .tag {
    margin: 10px 0px 25px 5px;
    padding: 3px 13px;
    background-color: lightgray;
    border-radius: 15px;
    color: rgb(74, 74, 74);
    opacity: 0.6;
}
.card .blog-data button {
    padding: 0.5rem 1.2rem;
    border-radius: 15px;
    /* margin-left: 10px; */
}