@import url(./utlity.css);

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1152px;

}

.hero {
    margin: 5rem 2rem;
    /* border: 2px solid black; */
    padding: 2rem;
    background-image: url(../img/vecteezy_blue-and-white-abstract-background-design-well-use-as_14300735-1.jpg);
    background-size: cover;
    border-radius: 10px;
    height: 700px;

    /* opacity: 0.5; */
}

.hero .right img {
    width: 40rem;
    border-radius: 5%;

}

.hero .right {
    margin-right: 10rem;

}

.hero .left {
    width: 30%;
    /* margin: 0rem 2rem; */
}

.hero .left h1 {
    padding-bottom: 1rem;
    background-color: white;
    border-radius: 20px;
    height: 6rem;
    padding: 0 0 0.5rem 1rem;    
}
.hero .left p {
    line-height: 1.8;
    background-color: white;
    height: 15rem;
    padding: 0 0 0.5rem 1rem;
    border-radius: 20px;
    margin-top: 1rem;
    color: gray;
}