.card-section {
  padding-top: 3rem;
  height: 1000px;
}
.container {
  border: 10px solid gray;
  padding: 2rem;
  border-radius: 15px;
}
.card-section h1 {
  text-align: center;
  margin-bottom: 5rem;
  font-family: sans-serif;
  background-color: gray;
  border-radius: 15px;
}
.card-row {
  display: flex;
  justify-content: space-around;
}
.card {
  /* Set the desired height of the box */
  overflow: hidden; /* Ensure that the image doesn't overflow */
  padding: 2px;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.btn {
  background: gray;
}
.card-body a {
  text-decoration: none;
  color: black;
  margin-left: 2rem;
}
.btn:hover {
  background-color: white;
  color: black;
}
.card-text {
  font-family: sans-serif;
}
.card-title {
  text-shadow: 10px;
  font-family: sans-serif;
  font-weight: 300;
}
.card {
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.1); /* Scale the card to 110% on hover */
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}
