body{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

.box{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
} */

.scroll-watcher{
    height: 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: lime;
    width: 100%;
    scale: 0 1;
    transform-origin: left;

    animation: scroll-watcher linear;
    animation-timeline: scroll(block);

}

@keyframes scroll-watcher {
    to { scake: 1 1; }
}

div{
    /* scroll-snap-align: start; */
    
}
.red{
    background-color: red;
    
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.pink{
    background-color: pink;
}


