/* * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
} */

.main_box {
    height: 100vh;
    /* background-image: url(./photo.jpg); */
    /* background-size: cover; */
    position: absolute;
    z-index: 1000;
}
.btn_one i{
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.2s ease-in 0s;
    display: none;
}
.sidebar_menu .btn_two i{
    font-size: 20px;
    color: gray;
    position: absolute;
    left: 270px;
    line-height: 65px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.2s ease-in 0s;
}
.sidebar_menu {
    position: fixed;
    left: -350px;
    width: 19rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    /* box-shadow: 0 0 6px white; */
    transition: all 0.2s linear 0s;
}
.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    height: 60px;
}

.sidebar_menu .logo a {
    position: absolute;
    font-size: 30px;
    font-weight: 500px;
    color: white;
    text-decoration: none;
    left: 60px;
}

.sidebar_menu .menu {
    width: 300px;
    color: white;
    position: absolute;
    top: 80px;
}

.sidebar_menu .menu li {
    margin: 6px;
    padding: 16px 20px;
    list-style: none;
}
.sidebar_menu .menu i,a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i {
    padding: 8px;
}

.sidebar_menu .social_media { 
    position: absolute;
    left: 25%;
    bottom: 50px;
}
.sidebar_menu .social_media i {
    padding: 0px 5px;
    opacity: 0.5;
    color: white;
}

#check {
    display: none;
}

.btn_one i:hover {
    font-size: 40px;
}
.btn_two i:hover {
    font-size: 30px;
}

.social_media i:hover {
    transform: scale(1.1);
    opacity: 1;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}

#check:checked ~ .btn_one {
    opacity: 0;
    
}
#check:checked ~ .sidebar_menu {
    left: 0px;
}
#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}
.logo:hover {
    box-shadow: 0px 1px 3px lightgray;
}
