/* card css */
.box {
    height: 250px;
    width: 250px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    box-shadow: 0px 2px 8px black;
    border-radius: 5px;
}
img {
    height: 50%;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}
div:hover {
    transition-duration: 1s;
    box-shadow: 2px 4px 16px black;
}

/* smily face css */
#container {
    height: 400px;
    width: 400px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #ffa511;
    box-shadow: 1px 3px 8px black;
}

.eye {
    margin: 2px;
    background-color: black;
    position: absolute;
    display: inline-block;
    border: 2px solid black;
    height: 50px;
    width: 50px;
    top: 80px;
    left: 100px;
    border-radius: 50%;
    
}
#second {
    left: 250px;
}

#smile {
    width: 200px;
    height: 50px;
    border: 2px solid black;
    background-color: brown;
    border-radius: 0px 0px 40% 40%;
    position: absolute;
    top: 250px;
    left: 100px;
}
#container:hover {
    transition: 1s;
    box-shadow: 2px 5px 16px black;
}

/* PDF questions css*/
#box1 {
    width: 100px;
    height: 100px;
    background: green;

}

#box1:hover {
    transition: width 2s ease-in 0.5s;
    width: 600px
}

#box2 {
    width: 100px;
    height: 100px;
    background: red;
    transform: translate(200px, 200px);
}

/* Qs3. Using transform, skew box3 20deg along the x axis.*/
#box3 {
    width: 100px;
    height: 100px;
    background: lightblue;
    transform: skewX(20deg);
}

/* Qs4. Set a 2px horizontal & 2px vertical, green shadow
for box4, with a 5px blur radius.*/
#box4 {
    width: 100px;
    height: 100px;
    background: lightgreen;
    box-shadow: 2px 2px 5px green;
    }

    /* Qs5. Set Your picture or any picture as the background of
the div
"myPic". Also, set transparency of this div to 50%. */
#myPic {
    width: 200px;
    height: 200px;
    background: pink;
    background: url(./mypic\ for\ portfolio.jpeg);
    background-size: cover;
    opacity: 50%;
    }
    