/* h1{
    background: lightblue;
}
p{
    background: lightblue;
}
body{
    background-color: antiquewhite;
}
button{
    background-color: lightblue;
} */

#box{
    height: 300px;
    width: 300px;
    background-color: aqua;
    color: black;
    border: 1px solid black;
}