<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listings</title>
</head>
<body>
    <h1>Hotels List</h1>
    <form action="listings/new" method="get">
        <button>Add new</button><br><br>
    </form>
   <%  for(let listing of listings){  %>
        <a href="listings/<%=listing._id%>"><%=listing.title%></a>
        <hr>
   <%  }  %>
   
</body>
</html>