<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My chotoRoom</title>
</head>
<body>
    <h1>All Bakwas Chats</h1>
    <% for(let chat of chats){ %>
        <div class="chats">
            <p>From: <%= chat.from %></p>
            <div class="msgs">
                <p>Message: <%= chat.msg %></p>
            </div>
            <p>This is for you <%= chat.to %></p>
        </div>
        <hr>
    <% } %>
</body>
</html>