<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chat</title>
</head>
<body>
    <form action="/chats" method="post">
        <input type="text" placeholder="Who the hell are you?" name="from"> <br><br>
        <textarea name="msg"  cols="30" rows="10" placeholder="Write it already!!" ></textarea> <br> <br>
        <input type="text" placeholder="Who to send? Bol naa" name="to"> <br><br>
        <button>Click to add</button>
    </form>
</body>
</html>